

services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - app1
      - app2
      - app3

  app1:
    build: ./app

  app2:
    build: ./app

  app3:
    build: ./app
